
header {
  text-align: center;
  background-color: slategrey;
  color: gainsboro;
  height: 85px;
  margin-bottom: 20px;
}

h1 {
  padding-top: 20px;
}

.uvi-span {
  padding: 2px 6px;
  border-radius: 12%;
  /* color: white; */
}

#list-tab {
  position: absolute;
  top: 200px;
  width: 415px;
}

div.active {
  font-weight: bold;
  font-size: 1.5em;
}

.active > p {
  font-weight: normal;
  font-size: .75em;
}

